#container {
    background: #ede9cc url(imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px; /*usamos esse item para impedir que ocorra a redução total do layout e do conteúdo*/
    max-width: 1180px; /*definimos uma largura máxima para não comprometer a visualização dos nossos conteúdos*/
}
#area-principal {
   float: left;
   width: 50%;
   background: url(imagens/bg-area-principal.png) top left repeat-x;
   padding: 15px 0;
}

.titulo {
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0;
    text-align: center;
}

P {
    margin-bottom: 10px;
    font-size: 1em;
    text-align: justify;
}

#area-lateral {
    float: right;
    width: 50%;
    background: url(imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0;

}
.conteudo {
    margin: 0 auto;
    width: 90%;   
}

#beneficios li {
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}


#beneficios li a img {
    float: left;
    margin-right: 8px ;
}

#beneficios li a {
    text-decoration: none;   
}

#beneficios li a p{
    color: #000;  
    font-size: 0.8em;  
}
#beneficios li a h3 {
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(imagens/ornamento.png) no-repeat center right;

}

#beneficios li:hover {
    background: #f6f3d6;
    cursor: pointer;
}
#rodape {
    clear: both;
    padding: 16px;
    background: #fff url(imagens/bg-rodape.png) repeat-x top;
    color: #7d7640;

}